global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon
	maxconn 2048
	tune.ssl.default-dh-param 2048
	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http
	option forwardfor
	option http-server-close

	stats enable
	stats uri /stats
        stats realm Haproxy\ Statistics
        stats auth novice:19791225Jw

frontend http-frontend
    bind *:80
    reqadd X-Forwarded-Proto:\ http
    default_backend wwppBE
    acl host_wwpp hdr(host) -i wwpp.date
    acl girl_site hdr(host) -i mygirl.site
    use_backend wwppBE if host_wwpp
    use_backend wwppBE if girl_site

    acl host_fl hdr(host) -i freeland.online
    acl piao_site hdr(host) -i piao.gift
    use_backend homeBE if host_fl
    use_backend homeBE if piao_site
frontend https-frontend
    bind *:443 ssl crt /etc/ssl/private/haproxycert.pem
    reqadd X-Forwarded-Proto:\ https
    rspadd Strict-Transport-Security:\ max-age=31536000 
    default_backend wwppBE
    acl host_wwpp hdr(host) -i wwpp.date
    acl girl_site hdr(host) -i mygirl.site
    use_backend wwppBE if host_wwpp
    use_backend wwppBE if girl_site

    acl host_fl hdr(host) -i freeland.online
    acl piao_site hdr(host) -i piao.gift
    use_backend homeBE if host_fl
    use_backend homeBE if piao_site

backend wwppBE
    redirect scheme https if !{ ssl_fc }
    server be1 127.0.0.1:3000 check
   
backend homeBE
    redirect scheme https if !{ ssl_fc }
    server be1 127.0.0.1:6081 check

frontend localnodes
    bind *:8080
    mode tcp
    default_backend nodes
    timeout client          1m

backend nodes
    mode tcp
    balance roundrobin
    server web01 127.0.0.1:4444
    server web02 127.0.0.1:5555
    timeout connect        10s
    timeout server          1m
    
frontend localnodes
    bind *:2222
    mode tcp
    default_backend nodes
    timeout client          1m

backend nodes
    mode tcp
    balance roundrobin
    server icbc 172.50.3.65:7031
    timeout connect        10s
    timeout server          1m